<section class="collection-section">
    <div class="set-container" *ngIf="!loading">
        <ng-container *ngFor="let set of setArray">
            <div class="set-self" (click)="getBoostersData(set.code)">
                <div class="set-header">
                    <div class="set-title">
                        {{ set.name }}
                    </div>
                    <div class="set-subtitle">
                        {{ set.block }}
                    </div>
                </div>
                <div class="set-footer">
                    {{ set.releaseDate | date:'dd/MM/yyyy' }}
                </div>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="loading">
        <div class="loader"></div>
        <p>Creating your card deck. Please be patient...</p>
    </ng-container>
</section>
