.deck-section {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deck-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0px;
}

.deck-container .card-self {
    width: 100%;
    max-width: 450px;
    padding: 10px;
    border-left: 8px solid #000;
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;
    color: var(--terciary-color);
    box-shadow: 8px 8px 5px #888;
    display: flex;
    gap: 20px;
    text-wrap: wrap;
}

.card-self .card-image img {
    width: 200px;
}

.card-self .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-self .card-icon {
    display: flex;
    justify-content: flex-end;
}

.card-self .card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.card-self .card-manacost {
    text-align: center;
}

.card-self .card-text {
    font-size: 14px;
    margin-top: 20px;
}

.bg-b,
.bg-g,
.bg-r,
.bg-u {
    margin: 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.bg-b {
    background-image: url('/assets/images/b.webp');
}

.bg-g {
    background-image: url('/assets/images/g.png');
}

.bg-r {
    background-image: url('/assets/images/r.webp');
}

.bg-u {
    background-image: url('/assets/images/u.webp');
}

.button-generate {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.button-generate:hover {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .deck-container .card-self {
        max-width: 380px;
    }

    .card-self .card-title {
        word-break: break-word;
    }
}