/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #4a03c1;
    --secondary-color: #6566cd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}